.body {
	font-family: $main-font, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	color: $primary-text-color;
	background-color: $primary-white-color;
	text-decoration: none;
	letter-spacing: 0.03em;
}
