.header {
  position: relative;
  padding-top: 16px;
  padding-left: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  color: $primary-text-color;
}
.site-nav-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 55px;
  }
  &.portfolio::after {
    @extend %font-after;
  }
  &.studio::after {
    @extend %font-after;
  }
}
.site-nav-list-link {
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address-nav-telefon-svg {
  @extend %font-header-svg;
  width: 10px;
  height: 15px;
}
.address-nav-mailto-svg {
  @extend %font-header-svg;
  width: 16px;
  height: 11px;
}
.current {
  color: $accent-color;
}
/*MOBILE*/
@media screen and (min-width: 480px) {
  .header {
    width: 480px;
    padding-left: 15px;
    padding-top: 16px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav-list-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-align: center;
    display: inline-flex;
  }
  .site-nav-list-item {
    margin-left: 191px;
    margin-top: 40px;
  }
  .site-nav-list {
    margin-top: 60px;
  }
  .address-nav-list {
    margin-left: 191px;
    margin-top: 60px;
    margin-bottom: 60px;
    &:not(:last-child) {
      padding-bottom: 16px;
    }
  }
  .address-nav-list-item:not(:last-child) {
    padding-bottom: 16px;
  }
}
/*TABLET*/
@media screen and (min-width: 758px) {
 .header
 {width: 758px;}
}
/*DESCTOP*/
@media screen and (min-width: 1200px) {
  .site-nav-list-item:not(:last-child) {
    margin-right: 55px;
  }
  .site-nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
}

.address-nav-list-item:not(:last-child) {
  margin-right: 30px;
}
.adress {
  margin-left: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
}
.address-nav-list {
  display: flex;
  text-decoration: none;
  align-items: baseline;
  list-style: none;
}
.address-nav-list-link {
  display: inline-block;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .address-nav-mailto-svg {
    fill: $accent-color;
  }
  &:hover .address-nav-telefon-svg {
    fill: $accent-color;
  }
  &:focus .address-nav-mailto-svg {
    fill: $accent-color;
  }
  &:focus .address-nav-telefon-svg {
    fill: $accent-color;
  }
}
