html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.link {
	text-decoration: none;
	display: block;
}
.list {
	list-style: none;
}
.img {
	display: block;
	max-width: 100%;
	height: auto;
}
.section {
	padding-bottom: 94px;
}

ul {
	margin: 0;
	padding: 0;
}
.title {
	margin: 0;
	font-family: $main-font;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: $primary-text-color;
}
h2.title {
	margin-bottom: 50px;
}

h1,
h2 {
	margin: 0;
}
H1,
h2,
h3,
h4 {
	font-weight: 700;
	color: $title-main-color;
}
