$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #212121;
$title-text-color: #000000;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$text-color: #757575;
$social-list-color: #afb1b8;
$background-footer-color: #2f303a;
